/* Product Marquee Section */

#product-menu {
    min-width: 200px;
}

#product-menu-btn-wrapper {
    display: flex;
    flex-direction: column;
}

.product-btn {
    font-size: 17px;
    padding: 4px;
    margin-bottom: 10px;
    letter-spacing: 0.8px;
    color: #fff;
    background-color: #28bdb3;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.product-btn.active {
    background-color: #1d9189;
}

.product-btn a {
    text-decoration: none;
    color: #fff;
}

#product-marquee {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#product-copy {
    max-width: 900px;
    margin-left: 20px;
}

#product-copy h2 {
    margin-top: 0;
    color: #28bdb3;
    text-decoration: underline;
}


#product-copy p {
    font-size: 18px
}

#product-copy button {
    background-color: #fff;
    color: #1d9189;
    border: none;
    border: 1px solid #1d9189;
    padding: 2px 8px;
}

@media only screen and (min-width: 1201px) {
    #product-copy p button {
        display: none;
    }
}

@media(max-width: 600px) {
    #product-marquee {
        flex-direction: column;
    }

    .product-btn {
        font-size: 18px;
        padding: 6px;
        margin-bottom: 12px;
    }

    #product-copy h2 {
        margin-top: 20px;
    }
}

/* **************************** */
/* Product Showcase Section */
/* **************************** */

main {
    position: relative;
}

#up-arrow-icon {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 180px;
    cursor: pointer;
}

@media(max-width: 1300px) {
    #up-arrow-icon {
        display: none;
        position: fixed;
        bottom: 20px;
        left: 120px;
        cursor: pointer;
    }
}

@media(max-width: 900px) {
    #up-arrow-icon {
        display: none;
        position: fixed;
        bottom: 20px;
        left: 20px;
        cursor: pointer;
        width: 35px;
    }
}

#product-showcase {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* horizontal card styles*/

.prod-card {
    margin: 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 225px;
    height: 275px;
    border: 2px solid #1d918928;
    border-top: 1px solid rgba(62, 54, 105, 0.2);
    border-left: 1px solid rgba(62, 54, 105, 0.2);
    border-right: 3.5px solid rgba(62, 54, 105, 0.2);
    border-bottom: 3.5px solid rgba(62, 54, 105, 0.2);
    border-radius: 3px;
}

.prod-card-content {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 275px;
}

.prod-card-content-image {
    width: 180px;
    margin: auto;
}

.prod-image {
    width: 100%;
    width: 180px;
    height: 120px;
}

.prod-card-content-title {
    padding: 0 10px;
    font-size: 17px;
    color: #1d9189;
    color: rgba(62, 54, 105, 255);
}


.prod-card-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.prod-view-btn {
    font-size: 17.5px;
    color: rgba(62, 54, 105, 255);
    padding: 3px 0;
    width: 200px;
    border: none;
    border-radius: 3px;
    border: 2px solid rgba(62, 54, 105, 0.2);
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.prod-view-btn:hover {
    box-shadow: 0px 1px 0px 0.5px rgba(62, 54, 105, 0.2);
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.5px;
    background-color: rgba(62, 54, 105, 0.05);
}

/* vertical card styles */

.vertical-prod-card {
    padding: 10px;
    margin: 20px 10px;
    display: flex;
    width: 300px;
    border-top: 1px solid rgba(62, 54, 105, 0.2);
    border-left: 1px solid rgba(62, 54, 105, 0.2);
    border-right: 3.5px solid rgba(62, 54, 105, 0.2);
    border-bottom: 3.5px solid rgba(62, 54, 105, 0.2);
    border-radius: 3px;
}

.vertical-prod-card-content-image {
    width: 180px;
    margin: auto;
}

.vertical-prod-image {
    width: 150px;
}

.vertical-prod-card-content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgba(62, 54, 105, 255);
}

.vertical-prod-view-btn {
    margin-top: 15px;
    font-size: 17.5px;
    color: rgba(62, 54, 105, 255);
    padding: 3px 0;
    width: 150px;
    border: none;
    border-radius: 3px;
    border: 2px solid rgba(62, 54, 105, 0.2);
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.vertical-prod-view-btn:hover {
    box-shadow: 0px 1px 0px 0.5px rgba(62, 54, 105, 0.2);
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.5px;
    background-color: rgba(62, 54, 105, 0.05);
}




/* Overlay div Styles*/
#overlay {
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background: #192040;
    opacity: 0.6;
}

.hide {
    display: none;
}

/* Horizontal popup styles*/
#close-popup {
    position: absolute;
    right: -40px;
    right: -32px;
    top: -40px;
    top: -32px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    color: rgba(62, 54, 105, 0.55);
    padding: 6px 12px 8px;
    padding: 4px 10px 6px;
    background-color: rgba(62, 54, 105, 0.55);
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

#close-popup:hover {
    background-color: rgba(62, 54, 105, 0.7);
    background-color: #e9e9e9;

    transition: all 0.2s ease-in-out;
}

#popup-container {
    color: rgba(62, 54, 105, 1);
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 900px;
    padding: 20px;
    border-top: 1.5px solid rgba(62, 54, 105, 0.2);
    border-left: 1.5px solid rgba(62, 54, 105, 0.2);
    border-right: 3px solid rgba(62, 54, 105, 0.2);
    border-bottom: 3px solid rgba(62, 54, 105, 0.2);
    border-radius: 3px;
}

#popup-content {
    display: flex;
    justify-content: space-between;
}

#popup-name {
    font-size: 21px;
}

#popup-name,
#popup-prod-num,
#popup-price-type,
#popup-price {
    color: rgba(62, 54, 105, 1);
    margin: 0;
}

#popup-prod-num {
    margin-top: -5px;
    font-size: 14px;
}

#popup-price-type,
#popup-price {
    text-align: left;
}

#popup-price-type p {
    margin-bottom: 5px;
}

#popup-price select {
    margin-top: 10px;
    font-size: 16px;
    padding: 3px 6px;
    line-height: 18px;
    border: 2px solid rgba(62, 54, 105, 0.2);
}



article#popup-img {
    margin: 0;
}

hr {
    background-color: rgba(62, 54, 105, 0.2);
    margin: 0;
}

#right-popup-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0px 20px 20px 40px;
    padding: 0 20px;
    background-color: rgba(62, 54, 105, 0.05);
}

#popup-description {
    font-size: 18px;
    text-align: justify;
}

@media(max-width:1000px) {
    #popup-container {
        width: 100%;
        position: fixed;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
    }

    #popup-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    #popup-description {
        max-height: 215px;
        overflow-y: auto;
        padding: 5px 10px;
        font-size: 15px;
        letter-spacing: 0.6px;
    }

    #close-popup {
        width: 12px;
        right: 42%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        border-radius: 50%;
        font-weight: bold;
        border: 2px solid #cecece;
    }

    #popup-prod-num {
        background-color: #eee;
    }

    #popup-name p {
        padding: 0 10%;
        font-size: 19px;
        margin-bottom: 0;
    }

    #popup-price-type p {
        text-align: center;
        color: #bcbcbc;
        margin-top: 0;
        margin-bottom: 15px;
    }

    #popup-price {
        /* display: block;
        margin: auto; */
        display: flex;
        justify-content: center;
    }

    #popup-price select {
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    /* #popup-img img {
        display: none;
    } */
    #right-popup-wrapper {
        display: flex;
        justify-content: center;
        height: 100%;
        margin: 15px 0px;
        padding: 0 20px;
        background-color: rgba(62, 54, 105, 0.05);
    }

    #left-popup {
        display: flex;
        flex-direction: column-reverse;
    }

    hr {
        display: none;
    }
}